<h1>Dashboard</h1>
<%= link_to "New Project", new_project_path %>

<div class="projects">
  <% @projects.each do |project| %>
    <%= link_to project_path(project), class: "project-card-link" do %>
      <div class="project-card">
        <h2><%= project.name %></h2>
        <p><%= project.description %></p>
      </div>
    <% end %>
  <% end %>
</div>


