<div class="card" data-card-id="<%= card.id %>">
  <%= link_to card_path(card), class: 'card__title', data: { turbo: false } do %>
    <%= card.title %>
  <% end %>
  <div class="card__description">
    <%= card.description %>
  </div>
</div>



