<div class="card__background">
  <h3> Status: <%= @card.status %></h3>
  <%= render 'form' %>
  <%= button_to "Delete", card_path(@card), method: :delete, class: "form__button-delete" %>
</div>

<div class="card__background">
  <h3>Activity</h3>
  <%= render @card.actions %>
</div>