.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  --card-background-color: var(--color-light-yellow);

  background-color: var(--card-background-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  padding: 1rem;

  width: 16rem;
}

.card__title {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.card__description {
  margin-top: 0.5rem;
  font-size: var(--font-size-base);
  color: var(--color-dark-grey);
}