.project-page {
  row-gap: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 640px;
}

.project-page__header {
  background-color: red;
  border-radius: 0.75rem;
  outline-style: solid;
}

.project-page__main {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  box-sizing: border-box;
}

.project-page__sidebar {
  background-color: green;
  min-width: 12rem;
  border-radius: 0.75rem;
  box-sizing: border-box;
  outline-style: solid;
}

.project-page__content {
  background-color: yellow;
  flex-grow: 1;
  box-sizing: border-box;
  border-radius: 0.75rem;
  outline-style: solid;
}