.project-card {
  background-color: hsl(0, 0%, 100%);      /* Light blue-gray, not yellow */
  border: 1px solid #d1d1d1;
  border-radius: 0.3rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 40rem;
  max-width: 60rem;
  height: 12rem;
  min-height: 18rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.project-card:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.project-card h2 {
  font-size: 1.5rem;
  color: #003366;
  margin-bottom: 8px;
}

.project-card p {
  font-size: 1rem;
  color: #334d66;
}

.project-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: fit-content;
  min-width: 200px;
}

.project-card-link:hover .project-card {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.project-container{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  padding: 1.2rem;
}