<dialog id="dialog" class="dialog" data-controller="dialog" data-dialog-open-class="dialog--open">
  <form method="dialog">
    <button>Close</button>
  </form>
  <%= turbo_frame_tag "dialog_content", data: { dialog_target: 'content' } do %>
    <h1>Dialog</h1>
  <% end %>
</dialog>
