<div class="drawer" data-controller="drawer" data-drawer-open-class="drawer--open">
  <%= button_tag "Close Drawer", type: "button", data: { controller: "drawer", action: "drawer#close" } %>
  <%= turbo_frame_tag "drawer_content", data: { drawer_target: 'content' } do %>
    <h1>Drawer Content</h1>
  <% end %>
</div>